<header>
  <a class="logo-link" href="index.html"><img src="favicon.png" /></a>
  <div class="header_items">
    <a
      class="about_button"
      href="pages/about.html"
      onclick="siteActive = 'about_site'"
      >Get to know us!</a
    >
    <a class="career_button" href="pages/careers.html">Careers</a>
    <a class="contact_button" href="pages/contact.html">Contact Us</a>
    <a class="plans_button" href="pages/plans.html">Plans</a>
  </div>
  <button class="js-theme theme_button">☽</button>
  <button class="js-menu menu_button">
    <img src="elements/hamburger-menu.png" />
  </button>

  <div class="account-buttons">
    <button class="sign-up-button">Sign Up</button>
    <button class="login-button">Login</button>
  </div>
</header>
