.greetingH1 {
  color: white;
  position: absolute;
  top: 40px;
  left: 60px;
  font-family: Major Mono Display;
}

.greetingH1 b {
  background: linear-gradient(to right, rgb(110, 130, 166), white);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
