.greetingH1 {
  color: white;
  position: absolute;
  top: 40px;
  left: 60px;
  font-family: Major Mono Display;
}

.greetingH1 img {
  width: 50px;
  border-radius: 100%;
  margin-right: 2px;
  margin-top: 10px;
  margin-left: 2px;
}
