.main_bg {
  width: 100%;
  object-fit: cover;
  position: absolute;
}

main {
  overflow-y: hidden;
}

.signUp_section {
  background-color: rgb(148, 28, 68);
  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 550px;
  border-radius: 25px;
  padding: 10px 15px;
  height: 600px;
  z-index: 2;
}

.signUp_section h1 {
  font-family: Major Mono Display;
  justify-self: center;
  color: white;
  font-size: 25px;
}

.signUp_section hr {
  width: 300px;
  margin-top: 25px;
}
